<!DOCTYPE html>
<html>
    <head>
        <title>Quest</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Tout s'est bien derouller</h1>
        <a href="http://localhost/Symfony/web/app_dev.php/platform"><li>Appuyez Pour Etre Renvoyez a L'accueil</li></a>
    </body>
</html>